<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="MysqlConnectionString" value="RGF0YSBTb3VyY2U9MTgwLjE3OS4xMDUuMjQ2O0luaXRpYWwgQ2F0YWxvZz1zd2lmdHNtc2RiO1VzZXIgSUQ9cm9vdDtQYXNzd29yZD1kYkIwIUhEYTF3WEc3bztNYXggUG9vbCBTaXplPTEwMDA7TWluIFBvb2wgU2l6ZT01MDtQb29saW5nPVRydWU7ZGVmYXVsdCBjb21tYW5kIHRpbWVvdXQ9MzYwMDAwOw=="/>
    <add key="ConStr" value="RGF0YSBTb3VyY2U9MTgwLjE3OS4xMDUuMjQ2O0luaXRpYWwgQ2F0YWxvZz1taXM7VXNlciBJRD1yb290O1Bhc3N3b3JkPWRiQjAhSERhMXdYRzdvO01heCBQb29sIFNpemU9MTAwMDtNaW4gUG9vbCBTaXplPTUwO1Bvb2xpbmc9VHJ1ZTtkZWZhdWx0IGNvbW1hbmQgdGltZW91dD0zNjAwMDA7"/>
    <!--<add key="MysqlConnectionString" value="RGF0YSBTb3VyY2U9bG9jYWxob3N0O0luaXRpYWwgQ2F0YWxvZz10ZXN0O1VzZXIgSUQ9cm9vdDtQYXNzd29yZD1yb290O2RlZmF1bHQgY29tbWFuZCB0aW1lb3V0PTM2MDA7Q2hhcmFjdGVyIFNldD11dGY4Ow=="/>-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AdminPKey-Source" value="ACT-56767"/>
    <add key="downloadurl" value="http://localhost:57682/Report/Carnival/download/" />
    <!--<add key="downloadpath" value="E:\Website\http\dbsmsapiorg\downloads244.connectbox.in\download\DLR\" />-->
    <add key="downloadpath" value="E:\download\" />


    <!--new log traces parameters-->
    <add key="filesize" value="2"/>
    <!--INFO = 0,    DEBUG = 1,    DB = 2,    EXC = 3,    PANIC = 4,  IPLOG = 5-->
    <add key="level0" value="1"/>
    <add key="level1" value="1"/>
    <add key="level2" value="1"/>
    <add key="level3" value="1"/>
    <add key="level4" value="1"/>
    <add key="level5" value="1"/>
    <add key="strLogFileName" value="Logconfig"/>
    <add key="strlogpath" value="D:\ExceptionLog\heloapi\"/>
    <add key="ErrorLogfileName" value="Errorconfig"/>
    <add key="FileSizeFormat" value="mb"/>
    <!--upto here-->
  </appSettings>

  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <!--<section name="modules" allowDefinition="MachineToApplication" overrideModeDefault="Allow" />-->

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
   
    <modules runAllManagedModulesForAllRequests="true" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
